template(name="slide1")
  +Impress id="slide1" transform="eval:Transform.rotateY(Math.PI/4)"
    +Surface style="background:red"
      | Slide 1

template(name="slide2")
  +Impress id="slide2" transform="eval:Transform.translate(0, 300, 0)"
    +Surface style="background: yellow"
      | Slide 2

template(name="slide3")
  +Impress id="slide3" transform="eval:Transform.multiply(Transform.translate(0, 650, 0),Transform.rotateZ(Math.PI/2))"
    +Surface style="background: green"
      | Slide 3

template(name="slide4")
  +Impress id="slide4" transform="eval:Transform.multiply(Transform.translate(300, 650, 0), Transform.rotateZ(3*Math.PI/2))"
    +Surface style="background: blue"
      | Slide 4
