template(name='end')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 Meetup Famous
    +Surface size='[undefined, undefined]' target='content'
      h1 Merci pour votre écoute.
        br
        | Des questions ?
      p Les slides sont dispos sur le repo suivant :
        br
        a(href='https://github.com/PEM--/MeetupFamousSlides') github.com/PEM--/MeetupFamousSlides
      p Les sources sont disponibles sur le repo suivant :
        br
        a(href='https://github.com/PEM--/famousbubble') github.com/PEM--/famousbubble

    +Surface size='[undefined, 70]' target='footer'
      p PEM
