head
  title Meetup Famous - Physic engine
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, maximum-scale=1, user-scalable=no')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='mobile-web-app-capable', content='yes')
body

template(name='layout')
  +View size='[undefined, undefined]'
    +View size='[50, 30]' size='[50, 30]' align='[0, 1]' origin='[0, 1]' translate='[10, -10, 100]'
      +Surface id='slideCpt' align='[.5, .5]' origin='[.5, .5]'
        .slide-cpt ??/??
    +RenderController size='[undefined, undefined]' transition=getTransition
      +yield
