template(name='slide04')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 Meetup Famous - Une coque vide
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      p.left Notre page bootstrapant Famo.us <b>client/index.jade</b> :
      +prism language='jade' class='line-numbers'
        | head
        |   title Famous Bubbles
        |   meta(charset='utf-8')
        |   meta(name='viewport', content='width=device-width, maximum-scale=1, user-scalable=no)
        |   meta(name='apple-mobile-web-app-capable', content='yes')
        |   meta(name='apple-mobile-web-app-status-bar-style', content='black')
        |   meta(name='apple-mobile-web-app-capable', content='yes')
        |   meta(name='mobile-web-app-capable', content='yes')
        | body
        |   +index
        | template(name='index')
    +Surface size='[undefined, 70]' target='footer'
      p PEM
