template(name='slide05')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 Meetup Famous - Styling
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      p.left Optionnel, mais pour faciliter les interactions avec Famo.us, les styles sont en CoffeeScript :
      +prism language='coffeescript' class='line-numbers'
        | css = new CSSC
        | css.add 'html',
        |   backgroundColor: CSSC.orange
        | css.add '.bubble-main-box',
        |   backgroundColor: CSSC.yellow
        |   borderRadius: '8px'
        | css.add '.bubble-bluebubble',
        |   backgroundColor: CSSC.aqua
        |   border: '3px solid ' + CSSC.blue
        | css.add '.bubble-dragger',
        |   backgroundColor: 'rgba(255, 255, 255, .5)'
        |   border: '2px solid ' + CSSC.red
    +Surface size='[undefined, 70]' target='footer'
      p PEM
