template(name='title')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 Meetup Famous
    +Surface size='[undefined, undefined]' target='content'
      h1 Physic engine demonstration
      img.gravatar(src='/gravatar.png')
    +Surface size='[undefined, 50]' target='footer' id='toto'
      p PEM : Pierre-Eric Marchandet
