template(name='slide2')
  +HeaderFooterLayout headerSize=100 footerSize=70
    +Surface target='header'
      h2 Meetup Famous - Build system
    +Surface align='[.5, .5]' origin='[.5, .5]' target='content'
      ul
        li Yeoman & Grunt: Use the one from Myles
          a(href='https://github.com/FamousTools/generator-famous') Famo.us
          | .
        li Gulp: Many templates & samples:
          a(href='https://github.com/PEM--/hellofamousgulped') HelloFamousGulped
          | .
        li
          a(href='https://www.meteor.com') Meteor
          | : Got its own build system.
      p.left Install and create a project:
      +prism language='bash' class='line-numbers'
        | # Meteor installation
        | curl https://install.meteor.com | /bin/sh
        | # Create our sample application
        | meteor create famousbubble
        | # Hop in the directory and remove stuff
        | cd famousbubble
        | rm *
        | # Importing packages
        | meteor add raix:famono coffeescript pierreeric:cssc-famous pierreeric:cssc-colors mquandalle:jade
        | # Create the application structure
        | mkdir -p client/views client/styles
    +Surface target='footer'
      p PEM
