template(name='slide10')
  +HeaderFooterLayout headerSize=100 footerSize=70 size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    +Surface target='header'
      h2 Meetup Famous - Some interactivity
    +Surface align='[.5, .5]' origin='[.5, .5]' target='content'
      p.left A bubble pusher
        code client/view/dragger.coffee
        |  :
      +prism language='coffeescript' class='line-numbers'
        | class @Dragger
        |   RADIUS: 30
        |   constructor: ->
        |     @shape = new famous.core.Surface
        |       size: [2 * @RADIUS, 2 * @RADIUS]
        |       classes: ['bubble-dragger']
        |       properties: borderRadius: CSSC.px 2 * @RADIUS
        |     @body = new famous.physics.bodies.Circle
        |       radius: @RADIUS
        |       mass: 60
        |     @position = [0, 0]
        |     @mod = new famous.core.Modifier
        |       origin: [.5, .5]
        |       align: [.5, .5]
        |       transform: =>
        |         famous.core.Transform.translate @position[0], @position[1], 0
    +Surface target='footer'
      p PEM
