template(name='slide4')
  +HeaderFooterLayout headerSize=100 footerSize=70 size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    +Surface target='header'
      h2 Meetup Famous - An empty shell
    +Surface align='[.5, .5]' origin='[.5, .5]' target='content'
      p.left Our page bootstraping Famo.us
        code client/index.jade
        | :
      +prism language='jade' class='line-numbers'
        | head
        |   title Famous Bubbles
        |   meta(charset='utf-8')
        |   meta(name='viewport', content='width=device-width, maximum-scale=1, user-scalable=no')
        |   meta(name='apple-mobile-web-app-capable', content='yes')
        |   meta(name='apple-mobile-web-app-status-bar-style', content='black')
        |   meta(name='apple-mobile-web-app-capable', content='yes')
        |   meta(name='mobile-web-app-capable', content='yes')
        | body
        |   +index
        | template(name='index')
    +Surface target='footer'
      p PEM
