template(name='slide3')
  +HeaderFooterLayout headerSize=100 footerSize=70 size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    +Surface target='header'
      h2 Meetup Famous - Bower and Git
    +Surface align='[.5, .5]' origin='[.5, .5]' target='content'
      p.left Prepare the imports
        code lib/smart.require
        | :
      +prism language='javascript' class='line-numbers'
        | {
        | 	"famous": {
        | 		"git": "https://github.com/Famous/famous.git",
        | 		"root": "src"
        | 	}
        | }
      P.left Launch Meteor :
      +prism language='bash' class='line-numbers'
        | meteor
    +Surface target='footer'
      p PEM
