template(name='slide12')
  +HeaderFooterLayout headerSize=100 footerSize=70 size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    +Surface target='header'
      h2 Meetup Famous - Bubble pusher
    +Surface align='[.5, .5]' origin='[.5, .5]' target='content'
      p.left Adding the bubble pusher
        code client/view/bubblebox.coffee
        | :
      +prism language='coffeescript' class='line-numbers'
        | constructor: (@options) ->
        |   ...
        |   famous.inputs.GenericSync.register
        |     'mouse': famous.inputs.MouseSync
        |     'touch': famous.inputs.TouchSync
        |   @addDragger()
        | addDragger: ->
        |   @dragger = new Dragger()
        |   @pe.addBody @dragger.body
        |   (@add @dragger.mod).add @dragger.shape
        |   sync = new famous.inputs.GenericSync ['mouse', 'touch']
        |   @dragger.shape.pipe sync
        |   sync.on 'update', (data) =>
        |     @dragger.position[0] += data.delta[0]
        |     @dragger.position[1] += data.delta[1]
        |     @dragger.body.setPosition @dragger.position
    +Surface target='footer'
      p PEM
