template(name='slide15')
  +HeaderFooterLayout headerSize=100 footerSize=70 size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    +Surface target='header'
      h2 Meetup Famous
    +Surface target='content'
      h1 Thank you for your time.
        br
        | Any questions?
      p Slides are available here:
        br
        a(href='https://github.com/PEM--/MeetupFamousSlides') github.com/PEM--/MeetupFamousSlides
      p Sources are available here:
        br
        a(href='https://github.com/PEM--/famousbubble') github.com/PEM--/famousbubble
    +Surface target='footer'
      p PEM
