template(name='slide1')
  +HeaderFooterLayout headerSize=100 footerSize=70 size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    +Surface target='header'
      h2 Meetup Famous
    +Surface target='content'
      h1 Physic engine
      img.gravatar(src='/gravatar.png')
    +Surface target='footer'
      p PEM : Pierre-Eric Marchandet
